name: "Generated"

on:
  workflow_call:

jobs:
  echo-output:
    name: "Echo Output"
    runs-on: ubuntu-latest
    steps:
      - name: "Echo"
        runs: |
          {% if number > 5 %}
          echo "Hello!"
          {% else %}
          echo "Goodbye!"
          {% endif %}
        shell: bash