name: "Generated"

on:
  workflow_call:

jobs:
  echo-output:
    name: "Echo Output"
    runs-on: ubuntu-latest
    steps:
      - name: "Echo"
        runs: |
          echo "Hello number {{ magic_number }}"
        shell: bash